In [10]:
import pandas as pd
import numpy as np

In [11]:
# Read Dataset format Dataframe
df = pd.read_csv('invertedIndex.csv')
df.head(None)

           Terms  docFreq                            postList
0           abad        2                             [2, 29]
1          acara        2                            [30, 30]
2            ada        9  [10, 11, 6, 35, 14, 4, 28, 35, 36]
3         adalah        7        [37, 33, 15, 18, 27, 35, 30]
4      adrenalin        2                             [9, 17]
...          ...      ...                                 ...
1104    youghurt        1                                [36]
1105         yuk        3                           [3, 0, 6]
1106      ziarah        1                                [22]
1107  zipcoaster        1                                [10]
1108        zona        1                                [17]

[1109 rows x 3 columns]

In [12]:
# Membuat dataframe baru
df_dict = pd.DataFrame(columns = ["Freq","Posting_ptr","Terms_ptr"])

df_dict["Freq"] = df["docFreq"]
df_dict["Posting_ptr"] = df["postList"]

print(df_dict)

      Freq                         Posting_ptr Terms_ptr
0        2                             [2, 29]       NaN
1        2                            [30, 30]       NaN
2        9  [10, 11, 6, 35, 14, 4, 28, 35, 36]       NaN
3        7        [37, 33, 15, 18, 27, 35, 30]       NaN
4        2                             [9, 17]       NaN
...    ...                                 ...       ...
1104     1                                [36]       NaN
1105     3                           [3, 0, 6]       NaN
1106     1                                [22]       NaN
1107     1                                [10]       NaN
1108     1                                [17]       NaN

[1109 rows x 3 columns]

In [13]:
# Membuat term string dan term pointer
term_str = ""
term_counter = 0
for i in range(194):
    term = df["Terms"].iloc[i]
    term_str += term
    df_dict["Terms_ptr"].iloc[i] = term_counter
    term_counter += len(term)

C:\Users\User\AppData\Local\Temp\ipykernel_1984\2704754000.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dict["Terms_ptr"].iloc[i] = term_counter

In [14]:
print(term_str)

abadacaraadaadalahadrenalinadvantureagamaagendakanagroairairnyaajaajakakanakhirakomodasiaksesaktivitasalaalamalamialasallalternatifamanambarawaanakandandaanekaanginangklungantarantaraantaranyaantikapaapiareaarenarenaargoarsitekstunyaarsitekturartinyaasalnyaasliaspalassumptaasyikatapatasatauatraksiatvawalayoayooayunanbbagbagaibagaikanbagaimanabagibagianbahanbahasabahkanbaikbakalbaladewabalemongbambubanbanaranbandunganbangetbangsabangunanbantalanbanyakbanyubanyubirubanyukuningbarangbaratbarengbarubasahbasahanbaturbawahbawenbebatuanbeberapabedabegitubelandabeliaubenangbenihbentangbentukberadaberagamberartiberasalberbagaiberbalutberbasisberbauberbedabercocokberdakwahberdasarkanberdekatanberdirinyaberdoaberenangberfotoberjarakberjauhanberjuangberkelokberkemahberkonsepberkunjungberlamaberlikuberlokasibermainbermotorbernamabernuansaberolahragaberpusatbersamabersandarbersantaiberselerabersumberbertingkatberupaberziarahbesarbesarnyabesibetahbeternakbiasabiayabibitbidadaribikinbilliardbintorobirubisablantenbolodewobondbrawijayabrigdebuahbuatbuatanbudayabukabukitbukitcintabulanbumbungbundabungaburuanbutterflycafcagarbudayacampingcandicantiknyacapingcaricaturcavingcelosiacenderungcentercentralchocomorycimorycintacm

In [15]:
print(df_dict)

      Freq                         Posting_ptr Terms_ptr
0        2                             [2, 29]         0
1        2                            [30, 30]         4
2        9  [10, 11, 6, 35, 14, 4, 28, 35, 36]         9
3        7        [37, 33, 15, 18, 27, 35, 30]        12
4        2                             [9, 17]        18
...    ...                                 ...       ...
1104     1                                [36]       NaN
1105     3                           [3, 0, 6]       NaN
1106     1                                [22]       NaN
1107     1                                [10]       NaN
1108     1                                [17]       NaN

[1109 rows x 3 columns]

In [16]:
# Export to csv
df_dict.to_csv('compressed_index_dict.csv',index=False)
text_file = open("hasil_kompres.txt", "w")
text_file.write(term_str)
text_file.close()