<a href="https://colab.research.google.com/github/lenocahya/ir_wisata_semarang/blob/main/IR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Crawling

In [1]:
import re
import string
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

**Fungsi Crawling**

In [2]:
def crawl(url, num_page):
    
    result = []
    req = requests.get(url)
    soup = BeautifulSoup(req.text, "lxml")
    
    # Membuka paging page 
    paging = soup.find_all("nav",{'class':'pagination'})
    paging_link = paging[0].find_all('a',{'class':'pagination__page'})
    last_page = num_page

    # looping untuk membuka setip halaman
    for i in range(1,last_page+1):
        print(url+'page/'+str(i))

        # mencari daftar link dari artiker yang ada pada setiap halaman
        req = requests.get(url+'page/'+str(i))
        soup = BeautifulSoup(req.text, "lxml")
        news_links = soup.find_all("div",{'class':'thumb-container thumb-65'})
        # print(news_links)

        # looping membuka artikel setiap halaman
    
        for idx,news in enumerate(news_links):
            news_dict = {}

            #find news title
            title_news= news.find('h1',{'class':'entry__title'}).text.replace("\n", "").title()
    

            #find urll news
            url_news = news.find('a',{'class':''}).get('href')

            
            #find news content in url
            req_news =  requests.get(url_news)
            soup_news = BeautifulSoup(req_news.text, "lxml")

            #find news content 
            news_content = soup_news.find("div",{'class':'entry__article-wrap'})

            #find paragraph in news content 
            p = news_content.find_all('p')
            content = ' '.join(item .text for item in p)
            news_content = content.encode('utf8','replace')

            #wrap in dictionary 
            news_dict['no']=idx+1
            news_dict['url'] = url_news
            news_dict['title'] = title_news
            news_dict['content'] = news_content
            result.append(news_dict)
         
    return result

In [3]:
def crawl_kuliner(url):
    # mencari daftar link dari artikel yang ada pada setiap halaman
    result = []
    req = requests.get(url)
    soup = BeautifulSoup(req.text, "lxml")  
    news_links = soup.find_all("div",{'class':'thumb-container thumb-65'})

    # looping membuka artikel setiap halaman

    for idx,news in enumerate(news_links):
        news_dict = {}

        #find news title
        title_news= news.find('h1',{'class':'entry__title'}).text.replace("\n", "").title()


        #find urll news
        url_news = news.find('a',{'class':''}).get('href')

        
        #find news content in url
        req_news =  requests.get(url_news)
        soup_news = BeautifulSoup(req_news.text, "lxml")

        #find news content 
        news_content = soup_news.find("div",{'class':'entry__article-wrap'})

        #find paragraph in news content 
        p = news_content.find_all('p')
        content = ' '.join(item .text for item in p)
        news_content = content.encode('utf8','replace')

        #wrap in dictionary 
        news_dict['no']=idx+1
        news_dict['url'] = url_news
        news_dict['title'] = title_news
        news_dict['content'] = news_content
        result.append(news_dict)
         
    return result

In [4]:
url = 'https://visitjawatengah.jatengprov.go.id/id/filter/kabupaten-semarang/result/kuliner'
kuliner1 = crawl_kuliner(url)
kuliner1 = pd.DataFrame(kuliner1)

In [5]:
url = 'https://visitjawatengah.jatengprov.go.id/id/filter/kota-semarang/result/kuliner'
kuliner2 = crawl_kuliner(url)
kuliner2 = pd.DataFrame(kuliner2)

In [6]:
kuliner = kuliner1.append(kuliner2)

In [7]:
url = 'https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/'
wisata1 = crawl(url, 4)
wisata1 = pd.DataFrame(wisata1)

https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/page/1
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/page/2
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/page/3
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/page/4

In [8]:
url = 'https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/'
wisata2 = crawl(url, 3)
wisata2 = pd.DataFrame(wisata2)

https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/page/1
https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/page/2
https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/page/3

In [9]:
wisata = wisata1.append(wisata2)

In [10]:
crwl = wisata.append(kuliner)

In [11]:
crwl.head(None)

,no,url,title,content
0,1,https://visitjawatengah.jatengprov.go.id/id/re...,Puri Kayana Camping Ground,b'#SobatWisata\xc2\xa0kangen ngecamp nggak nih...
1,2,https://visitjawatengah.jatengprov.go.id/id/re...,Mengunjungi Wisata Religi Nyatnyono,b'Desa Nyatnyono di lereng Gunung Ungaran dike...
2,3,https://visitjawatengah.jatengprov.go.id/id/re...,"Candi Dukuh, Petilasan Prabu Brawijaya","b'Candi Dukuh terletak di Desa Rowoboni, Kecam..."
3,4,https://visitjawatengah.jatengprov.go.id/id/re...,5 Hal Spesial Di Desa Wisata Lerep,b'Jalan-jalan ke Semarang? Mampirlah ke Desa W...
4,5,https://visitjawatengah.jatengprov.go.id/id/re...,All In One In Sunrise Hill Gedong Songo,b'#SobatWisata\xc2\xa0lagi cari referensi rest...
...,...,...,...,...
4,5,https://visitjawatengah.jatengprov.go.id/id/re...,Mi Kopyok,b'adalah jenis makanan yang biasanya dijual di...
5,6,https://visitjawatengah.jatengprov.go.id/id/re...,Tahu Gimbal,b'Racikan tahu gimbal terdiri dari potongan ta...
6,7,https://visitjawatengah.jatengprov.go.id/id/re...,Lumpia,b'Kudapan yang terbuat dari rebung dibungkus d...
7,8,https://visitjawatengah.jatengprov.go.id/id/re...,Wedang Tahu,b'Wedang Tahu adalah sejenis minuman yang bera...
8,9,https://visitjawatengah.jatengprov.go.id/id/re...,Tahu Petis,"b'Tahu Petis, makanan khas Kota Semarang terbu..."

In [12]:
crwl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 8
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   no       87 non-null     int64
 1   url      87 non-null     object
 2   title    87 non-null     object
 3   content  87 non-null     object
dtypes: int64(1), object(3)
memory usage: 3.4+ KB

**Cleaning Dokumen hasil crwaling**

In [13]:
def documents_cleaning(doc):
  docs_clean = []

  for d in doc:
      html = d.decode("utf-8")                              # Men-decode hasil scrapy dari web yang masih terenkripsi utf-8 dari html
      document_test = re.sub(r'[^\x00-\x7F]+', ' ', html)
      document_test = re.sub(r'#\w+', '', document_test)
      docs_clean.append(document_test)

  return docs_clean

In [14]:
# menghilangkan simbol-simbol, tag, url, dan huruf atau karakter yang tidak digunakan
def case_folding(doc):      
      doc = re.sub(r'@\w+', '', doc)
      doc = re.sub("http.+", " ", doc) 
      doc = re.sub("www.+", " ", doc)
      doc = re.sub(".+.com$", " ", doc)
      doc = doc.lower()
      doc = re.sub(r'[%s]' % re.escape(string.punctuation), ' ', doc)
      doc = re.sub(r'[0-9]', '', doc)
      doc = re.sub(r"\b[a-zA-Z]\b", "",doc)
      doc = re.sub(r'\s{2,}', ' ', doc)
      doc = doc.replace("html", " ")
      doc = re.sub(r'\s+', ' ', doc)    
      return doc

In [15]:
crwl['content'] = documents_cleaning(crwl['content'])

In [16]:
crwl['clean_content'] = (crwl['content']).apply(case_folding)

In [17]:
crwl.head()

,no,url,title,content,clean_content
0,1,https://visitjawatengah.jatengprov.go.id/id/re...,Puri Kayana Camping Ground,kangen ngecamp nggak nih? Cuss berkemah denga...,kangen ngecamp nggak nih cuss berkemah dengan...
1,2,https://visitjawatengah.jatengprov.go.id/id/re...,Mengunjungi Wisata Religi Nyatnyono,Desa Nyatnyono di lereng Gunung Ungaran dikena...,desa nyatnyono di lereng gunung ungaran dikena...
2,3,https://visitjawatengah.jatengprov.go.id/id/re...,"Candi Dukuh, Petilasan Prabu Brawijaya","Candi Dukuh terletak di Desa Rowoboni, Kecamat...",candi dukuh terletak di desa rowoboni kecamata...
3,4,https://visitjawatengah.jatengprov.go.id/id/re...,5 Hal Spesial Di Desa Wisata Lerep,Jalan-jalan ke Semarang? Mampirlah ke Desa Wis...,jalan jalan ke semarang mampirlah ke desa wisa...
4,5,https://visitjawatengah.jatengprov.go.id/id/re...,All In One In Sunrise Hill Gedong Songo,lagi cari referensi resto? Penginapan? Spot s...,lagi cari referensi resto penginapan spot sel...

In [18]:
hasil = crwl[['no','title','content','clean_content','url']]
hasil.to_csv('crawl_wisata.csv', index=False)
hasil.head()

,no,title,content,clean_content,url
0,1,Puri Kayana Camping Ground,kangen ngecamp nggak nih? Cuss berkemah denga...,kangen ngecamp nggak nih cuss berkemah dengan...,https://visitjawatengah.jatengprov.go.id/id/re...
1,2,Mengunjungi Wisata Religi Nyatnyono,Desa Nyatnyono di lereng Gunung Ungaran dikena...,desa nyatnyono di lereng gunung ungaran dikena...,https://visitjawatengah.jatengprov.go.id/id/re...
2,3,"Candi Dukuh, Petilasan Prabu Brawijaya","Candi Dukuh terletak di Desa Rowoboni, Kecamat...",candi dukuh terletak di desa rowoboni kecamata...,https://visitjawatengah.jatengprov.go.id/id/re...
3,4,5 Hal Spesial Di Desa Wisata Lerep,Jalan-jalan ke Semarang? Mampirlah ke Desa Wis...,jalan jalan ke semarang mampirlah ke desa wisa...,https://visitjawatengah.jatengprov.go.id/id/re...
4,5,All In One In Sunrise Hill Gedong Songo,lagi cari referensi resto? Penginapan? Spot s...,lagi cari referensi resto penginapan spot sel...,https://visitjawatengah.jatengprov.go.id/id/re...

# Index

**Membaca crawl_wisata.csv**

In [19]:
df = pd.read_csv('crawl_wisata.csv')
df.head()

,no,title,content,clean_content,url
0,1,Puri Kayana Camping Ground,kangen ngecamp nggak nih? Cuss berkemah denga...,kangen ngecamp nggak nih cuss berkemah dengan...,https://visitjawatengah.jatengprov.go.id/id/re...
1,2,Mengunjungi Wisata Religi Nyatnyono,Desa Nyatnyono di lereng Gunung Ungaran dikena...,desa nyatnyono di lereng gunung ungaran dikena...,https://visitjawatengah.jatengprov.go.id/id/re...
2,3,"Candi Dukuh, Petilasan Prabu Brawijaya","Candi Dukuh terletak di Desa Rowoboni, Kecamat...",candi dukuh terletak di desa rowoboni kecamata...,https://visitjawatengah.jatengprov.go.id/id/re...
3,4,5 Hal Spesial Di Desa Wisata Lerep,Jalan-jalan ke Semarang? Mampirlah ke Desa Wis...,jalan jalan ke semarang mampirlah ke desa wisa...,https://visitjawatengah.jatengprov.go.id/id/re...
4,5,All In One In Sunrise Hill Gedong Songo,lagi cari referensi resto? Penginapan? Spot s...,lagi cari referensi resto penginapan spot sel...,https://visitjawatengah.jatengprov.go.id/id/re...

**Tokenization** memecah kata pada clean_content yang ada menggunakan

In [20]:
df_parse = df.copy()

cols = ["clean_content"]
for col in cols:
  df_parse[col] = df_parse[col].str.split()

df_parse.head()

,no,title,content,clean_content,url
0,1,Puri Kayana Camping Ground,kangen ngecamp nggak nih? Cuss berkemah denga...,"[kangen, ngecamp, nggak, nih, cuss, berkemah, ...",https://visitjawatengah.jatengprov.go.id/id/re...
1,2,Mengunjungi Wisata Religi Nyatnyono,Desa Nyatnyono di lereng Gunung Ungaran dikena...,"[desa, nyatnyono, di, lereng, gunung, ungaran,...",https://visitjawatengah.jatengprov.go.id/id/re...
2,3,"Candi Dukuh, Petilasan Prabu Brawijaya","Candi Dukuh terletak di Desa Rowoboni, Kecamat...","[candi, dukuh, terletak, di, desa, rowoboni, k...",https://visitjawatengah.jatengprov.go.id/id/re...
3,4,5 Hal Spesial Di Desa Wisata Lerep,Jalan-jalan ke Semarang? Mampirlah ke Desa Wis...,"[jalan, jalan, ke, semarang, mampirlah, ke, de...",https://visitjawatengah.jatengprov.go.id/id/re...
4,5,All In One In Sunrise Hill Gedong Songo,lagi cari referensi resto? Penginapan? Spot s...,"[lagi, cari, referensi, resto, penginapan, spo...",https://visitjawatengah.jatengprov.go.id/id/re...

In [21]:
# Memasukkan tokenisasi ke dalam df_doc
df_doc = pd.DataFrame(columns = ["document"])
df_doc["document"] = df_parse['clean_content']

df_doc.head()

                                            document
0  [kangen, ngecamp, nggak, nih, cuss, berkemah, ...
1  [desa, nyatnyono, di, lereng, gunung, ungaran,...
2  [candi, dukuh, terletak, di, desa, rowoboni, k...
3  [jalan, jalan, ke, semarang, mampirlah, ke, de...
4  [lagi, cari, referensi, resto, penginapan, spo...

**Menambahkan nilai ID dokumen dari lokasi kata ditemukan berdasarkan letak kata pada dokumen ke-n, n=index**

In [22]:
df_term = pd.DataFrame(columns = ["Term","DocID"])

size = df_doc.shape[0]
for index in range(size):
    row = df_doc['document'].iloc[index]

    for kata in row:
        df_term = df_term.append({"Term":kata,"DocID":index}, ignore_index=True)

In [23]:
df_term.head(100)

          Term DocID
0       kangen     0
1      ngecamp     0
2        nggak     0
3          nih     0
4         cuss     0
..         ...   ...
95   banyubiru     2
96   kabupaten     2
97    semarang     2
98  masyarakat     2
99     sekitar     2

[100 rows x 2 columns]

In [24]:
df_term.shape

(5887, 2)

**Mengurutkan Term berdasar alfabetnya**

In [25]:
df_term_sorted = df_term.sort_values(by="Term")
df_term_sorted.head(10)

       Term DocID
2044   abad    29
3281   abad    47
3092   abad    44
144    abad     2
3419  abdul    48
3212  abdul    46
2164  acara    30
4770  acara    65
2177  acara    30
767     ada    14

In [26]:
df_term_sorted.shape

(5887, 2)

## inverted index

![invertedIndex.png]()

Sumber : https://nlp.stanford.edu/IR-book/html/htmledition/a-first-take-at-building-an-inverted-index-1.html

**Inisialisasi inverted index**

In [27]:
df_invertedindex = pd.DataFrame(columns = ["Terms","docFreq","postList"])
df_invertedindex

Empty DataFrame
Columns: [Terms, docFreq, postList]
Index: []

In [28]:
# Memasukkan daftar term yang unique atau menggabungkan term yang sama menjadi 1
size = df_term_sorted.shape[0]
df_invertedindex['Terms'] = df_term_sorted['Term'].unique()

df_invertedindex.head()

    Terms docFreq postList
0    abad     NaN      NaN
1   abdul     NaN      NaN
2   acara     NaN      NaN
3     ada     NaN      NaN
4  adalah     NaN      NaN

In [29]:
# inisialisasi nilai
df_invertedindex["docFreq"]=0
df_invertedindex.head()

    Terms  docFreq postList
0    abad        0      NaN
1   abdul        0      NaN
2   acara        0      NaN
3     ada        0      NaN
4  adalah        0      NaN

In [30]:
df_invertedindex.shape

(1892, 3)

In [31]:
ukuran = df_term_sorted.shape[0]
print(ukuran)
inverted_index_counter = 0
temp_list = [] 
for i in range(ukuran): # Melakukan looping sebanyak jumlah data berdasarkan ukuran tabel data term
  # Jika term pada df_term_sorted ke i identik dengan terms pada df_invertedindex index ke inverted_index_counter
  # Maka nilai inverted ditambah 1 terus hingga bertemu term yang sama terakhir
  if (df_term_sorted['Term'].iloc[i] == df_invertedindex['Terms'].iloc[inverted_index_counter]):
    df_invertedindex["docFreq"].iloc[inverted_index_counter]+=1
    temp_list.append(df_term_sorted["DocID"].iloc[i])
    df_invertedindex["postList"].iloc[inverted_index_counter] = temp_list
  
  # Setelah bertemu kata terakhir maka selanjutnya merubah nilai index dari inverted untuk membaca term selanjutnya
  # untuk dilakukan pencocokan dengan data term_sorted
  else :
    temp_list = []
    inverted_index_counter += 1
    df_invertedindex["docFreq"].iloc[inverted_index_counter] += 1
    temp_list.append(df_term_sorted["DocID"].iloc[i])
    df_invertedindex["postList"].iloc[inverted_index_counter] = temp_list

5887

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [32]:
print(df_invertedindex.head(10))

       Terms  docFreq                                           postList
0       abad        4                                    [29, 47, 44, 2]
1      abdul        2                                           [48, 46]
2      acara        3                                       [30, 65, 30]
3        ada       16  [14, 28, 70, 69, 68, 11, 36, 10, 63, 56, 35, 6...
4     adalah       20  [41, 33, 30, 38, 37, 35, 73, 57, 85, 15, 65, 8...
5   adaptasi        1                                               [78]
6       adat        2                                           [58, 58]
7  adrenalin        2                                            [9, 17]
8  advanture        1                                               [34]
9       agak        1                                               [81]

In [33]:
# Export to CSV
df_invertedindex.to_csv("invertedIndex.csv",index=False)

# Kompresi Index

**Membaca Dataset Inverted index**

In [34]:
df = pd.read_csv('invertedIndex.csv')
df.head(None)

           Terms  docFreq                                           postList
0           abad        4                                    [29, 47, 44, 2]
1          abdul        2                                           [48, 46]
2          acara        3                                       [30, 65, 30]
3            ada       16  [14, 28, 70, 69, 68, 11, 36, 10, 63, 56, 35, 6...
4         adalah       20  [41, 33, 30, 38, 37, 35, 73, 57, 85, 15, 65, 8...
...          ...      ...                                                ...
1887      yunani        2                                           [49, 45]
1888      ziarah        1                                               [22]
1889  zipcoaster        1                                               [10]
1890        zona        1                                               [17]
1891         zoo        3                                       [54, 54, 54]

[1892 rows x 3 columns]

## **Dictionary as String!**
![image.png]()

https://nlp.stanford.edu/IR-book/html/htmledition/dictionary-as-a-string-1.html

In [35]:
# Membuat dataframe baru
df_dict = pd.DataFrame(columns = ["Freq","Posting_ptr","Terms_ptr"])

df_dict["Freq"] = df["docFreq"]
df_dict["Posting_ptr"] = df["postList"]

df_dict

      Freq                                        Posting_ptr Terms_ptr
0        4                                    [29, 47, 44, 2]       NaN
1        2                                           [48, 46]       NaN
2        3                                       [30, 65, 30]       NaN
3       16  [14, 28, 70, 69, 68, 11, 36, 10, 63, 56, 35, 6...       NaN
4       20  [41, 33, 30, 38, 37, 35, 73, 57, 85, 15, 65, 8...       NaN
...    ...                                                ...       ...
1887     2                                           [49, 45]       NaN
1888     1                                               [22]       NaN
1889     1                                               [10]       NaN
1890     1                                               [17]       NaN
1891     3                                       [54, 54, 54]       NaN

[1892 rows x 3 columns]

In [36]:
# Membuat term string dan term pointer
term_str = ""
term_counter = 0
for i in range(df_dict.shape[0]):
    term = df["Terms"].iloc[i]
    term_str += term
    df_dict["Terms_ptr"].iloc[i] = term_counter
    term_counter += len(term)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [37]:
term_str

'abadabdulacaraadaadalahadaptasiadatadrenalinadvantureagakagamaagendakanagroagungairairnyaajaajakakanakarakhirakhirnyaakibatakomodasiaksesaksesorisaksiaktivitasalaalamalamialasalotalteralternatifamanambarawaananakandandaanekaanggunanginangklungangkutanannaantarantaraantaranyaantikapaapakahapiarabarabikaarangareaarenarenaargoaristokratarkeologiarsitekarsitekstunyaarsitekturartartinyaasalnyaasiaasinasistenasliasmaulaspalasriassumptaasuransiasyikatatapatasatasnyaatauatiatraksiatvavalokitesvaraawalawalnyaayamayoayooayunanbabadanbabatbagbagaibagaikanbagaimanabagibagianbahanbahasabahkanbaikbakalbakaubaksobakubakwanbaladewabalemongbalibalokbambubanbanaranbandengbandunganbangetbangsabangunanbanjirbankbantalanbantuanbanyakbanyubanyubirubanyukuningbarangbaratbarengbarongbarouquebarubasahbasahanbatubaturbawahbawangbawenbaxobebatuanbeberapabecakbedabegitubelandabelibeliaubemacambenangbencanabendabendunganbenggalabenihbentangbentukbentuknyaberadaberagamberaniberaromaberarsitekturberartiberasberasalberbagaiberbalutberbasisberbauberbedaberbentukberbulanbercatbercocokberdakwahberdasarkanberdekatanberdiriberdirinyaberdoaberenangberfotoberfungsibergayabergelombangberibadahberisiberjalanberjarakberjauhanberjuangberkaitanberkelilingberkelokberkemahberkesenianberkonsepberkunjungberlamaberlapisberlikuberlokasibermainbermotorbernamabernuansaberolahragaberpaduberpusatbersamabersandarbersantaibersejarahberselerabersumberbertaburbertahanbertarafberubahberukuranberupaberusiaberwarnaberwisataberwujudberziarahbesarbesarnyabesibetahbeternakbetonbiasabiasanyabiayabibitbidadaribikinbilliardbinbintorobirubisablantenblauwboerblendukblumebolehbolodewobondbonjolboombrawijayabrigdebubuahbuahanbuatbuatanbubakanbudayabukabukanbukitbulanbumbubumbungbundabundaranbungabungkusbupatiburuanburungbusbutterflycabecafcagarcairancamilancampurancandicantiknyacapcapingcarcaracaricaturcavingcelosiacenderungcendrawasihcengkihcenterceplokchengchocomorycimorycinacintaciricitaclubhousecmcobaincocokcocolancoffeecokelatcoklatcokrodipurocomconventioncornercothotcourtcukupcumacuramcurugcussdaerahdagingdahuludalamdalamnyadandanaudanuwodapatdaratandaridatangdatarandayadedecodehdekatdekoratifdemakdemikiandengandengardenokdepandesadesaindestinasidewadewasadewidhuwurdidiabadikandiadakandiajakdiaksesdiambildiantaradibanderoldibandroldibangundibawadibelidibuatdibungkusdicairkandicampurdicatdicobadidalamnyadidasarididatangididatangkandidesaindidirikandigorengdigowesdigunakandiguyurdihunidiinginkandiisidijadikandijangkaudijualdijulukidijumpaidikarenakandikatakandikenakandikenaldikunjungidilaksanakandilakukandilaluidilengkapidilihatdimahkotaidimakamkandimakandimanadimanfaatkandimasakdimilikidinamakandinastidingindinikmatidiolahdipecahkandipengaruhidiperbolehkandipergunakandiperolehdipetikdiponegorodiproduksidipurodiracikdiragukandirancangdiresmikandiridisajikandisampingdisanadisebutdisediakandiselenggarakandisewadisinggahidisinidisiramkandisuguhidisuguhkanditaburiditataditawarkanditempuhditemuiditemukanditukardiyakinidlldoadramadrumblekduadudukdukudukuhduluduniaduriduriandusunecoecotouredueducationedukasieffielekonomisekoreksotiseleganelemenemangemberembungempatenakeropaeveneventexitfamilyfarmfasadfasilitasfaunafavoritfloraflyingfollowfotofotografifountainfoxfreefunfungsigagajahgalerigallerygambyongganggangsingganjelgardengardeninggatheringgatotgayagayamsarigazebogazibugedonggedongsongogedunggedungnyagemawanggembloggemblonggendargenerasigepukgerejagetasangigigitgimbalginjalgirigiuglampinggmkagogoagogikgolfgolfergombelgorenggowesgpibgrandgratisguagubernurgugusangulagumukgununggunungpatigurihhahabibhadirhadirnyahalhallhalloweenhamengkubuwonohammockhamparanhanyahargahariharimauharumharushasanhayooohektarhektareheranheroikhiashidanganhiduphidupnyahiilshijauhijaunyahillhillshindiahinggahohokrihortimarthotelhubungihujanhusnahutaniaialahibadahibnuibukotaicipiiijukikanikonimimamimlekimmanuelinindahindischeindonesiaindoorindrokiloindustriinfoinformasiingatingininhouseiniinilahinstagraminstagrammableinstragramnyainstruksiinternasionaliribanirisanisdimanisianislamisoistimewaituiyajacobjadijadilahjadwaljagojahejajananjalanjalurjamjamujanganjantungjaranjasajasanyajatengjatijatibarangjatuhjauhjawajawabannyajawabnyajawijayajelajahjelangjembatanjendelajenisjepangjernihjikajiwasrayajljlnjogjajoglojohannesjoharjugajulijulukanjumjumatjumlahjumpjumpaijunijuruhjustitiekakabkabupatenkacakacangkadesokafekakkakaokakikalahkalangankalaukalikaliankalijagakaliuripkaliwungukamikamiskampoengkampungkamukankanankandrikangenkangurukantorkaoskaraokekarenakaretkaryakatakatolikkawasankayakayanakayangankayukekearahkeberangkatankeberaniankebersihannyakebondowokebudayaankebunkeckecamatankecapkecehkedaikedalamankedamaiankeduakeempatkegiatankegigihannyakeheningankeindahankejauhankejikekayaankelapakelilingkelimakelincikeluargakelurahankembalikembangkembarkemirikemplengkemudiankenangkenangankenapakendaraankendatikentalkenyangkeongkepadakepalakepangkepenatankepengkepoinkerakerajinankeramaiankeramikkerenkerepkeretakeringkeripikkerupukkesatukesejukankesenengkeseniankesibukankesultananketagihanketanketigaketikaketinggianketurunankeunikankhaskhususkiaikidcastlekilometerkincirkingkongkinikirinyakisahklasikklentengklikklinkhamerkmkolamkoleksikolonialkomplekkomplekskomplitkomunitaskondisikondisinyakonfigurasikongkonsepkonservasikonstruksikonturkopengkopikopyokkorbankoreakotakotorkremeskreokripikkrunyaktpkuahkuatkubiskudakudapankuilkulinerkulinerankuningkunjungikunokurangkuuyyyykuykwanlabillabirinlagilainlainnyalaksamanalakukanlalulamalamperlampulangitlangsunglanjutlantailapanganlaparlapislatarlauklautlawanglawelayanglayarlebatlebihlegitleisurelelelembaranlembutlempenganlengkaplenneplerenglerepletaknyaletjenlewatlewatkanlholiburliburanliburanmuliburannyalidahlihatlilinlimalimbahlingkarlittlelivelodehlokallokasilokasinyalombalomboklongsorlontongluarluaslukisanlumerluminalumpialunaklupamaburmacammadamaerakacamaerokocomagelangmagnetmahsyurmainmajapahitmakamakammakamnyamakanmakananmakinmaksimalmalammampirmampirlahmanamancurmandirimangkangmangrehomangrovemanismantapmarbamarimariamarinamarinemarmermasamasakanmaschaappijmasihmasingmasjidmassamasukmasyarakatmatamataharimatarammaumaulanamaupunmbakmbokmeetingmegahmehmejamejadimelakukanmelaluimelandamelatihmelawanmelelehmelepasmelepaskanmelewatimelewatkanmelihatmeliputimeliukmelompatmelukismemacumemadukanmemahamimemamerkanmemancingmemandangmemanfaatkanmemanjakanmembakarmembangunmembangunnyamembawamembelimembelinyamemberimembuatmembukamemilihmemilikimemintamemperingatimempertahankanmemudahkanmemutuskanmenaikimenampilkanmenanammenantangmenantumenaramenarikmenawarkanmencapaimencarimenceritakanmencicipmencicipimencobamendapatmendapatkanmenegangkanmenenangkanmenetapmengabadikanmengadopsimengalamimengantarkanmengasyikkanmengatasimengelilingimengenaimengenalmengenangmenggelarmenggunakanmenghabiskanmenghangatkanmenghormatimenghubungimengikutimengubahmengunjungimenikahmenikmatimeninggalkanmenitmenjadimenjadikanmenjagamenjajalmenjelajahimenjelangmenjualmenjumpaimentahmenterimenumenujumenunjukkanmenurunmenurutmenyajikanmenyaksikanmenyambutmenyebutnyamenyediakanmenyenangkanmenyerupaimenyewamenyimpanmenyuguhkanmenyukaimenyusurimerahmerangkummerapatmerapimerasakanmerbabumerekmerekamerlionmerubahmerupakanmeskimeskipunmetermexicomiemijenmilikmilimetermilitermingguminiminiaturminumanmisalnyamodernmomentmonggomontormonumenmpdlmpumudamudahmulaimulutmunadimuncarmunculmurahmuseummusicmusikmusimmuslimmysticanaganaiknamanamanyanamunnangkanantinasinasionalnathandesonederlandschnegaranegeringampinngecampnggakngipikngisornightnihnikmatnikmatnyanilainisnismnonongkrongnyanuansanyanyamannyatanyatnyonoobatobjekobyekofficialoholaholahanolahragaolehonondooneonionsandontheloomopororangorganikotakoudetrapoutoutbondoutboundoutdooroutletpackagepadapadatpadipadusanpagipagodapahlawanpaintballpakpakaianpaketpalapalaganpalingpameranpamularsihpanaspancasilapandanpandanaranpanenpanggangpanggungpanguspanjangpanoramapantaiparaparalayangparkparupaspasarpasirpastipatipatimurapatungpatutpaviliunpecelpecinanpecintapedaspedesaanpedestrianpegununganpejuangpekanpelangipelatpeletakanpemadatanpemancinganpemandanganpemandianpemanfaatanpembacaanpembangunanpembelipembersihanpembibitanpembuatanpembusukanpementasanpemerintahanpemimpinpemudapenanamanpenasaranpenatpendetapendiripendudukpengadilanpengamanpengananpengelolapengemasanpengetahuanpenggemarpenginapanpengolahanpengunjungpenikmatpeningpeninggalanpenjagapenjagaanpenjajahpenjelajahpenjualanpenopangpenuhpenyiarpeotpepespepohonanperperahuperairanperanakanperayaanperbukitanperdaganganperjalananperjuanganperkebunanperkembanganperlupermainanpermenpernahperosotanperpaduanpersawahanpersegipersimpanganpertamapertamakalipertamanyapertempuranpertemuanpertolonganpertunjukanperusahaanpesanpesawatpesonapetapeternakanpetikpetirpetispetualanganpewayanganpeziarahphoenixpikiranpilihanpindangpinggirpintupiramidapiringpjkaplaygroundpleinplnpokdarwisponponcolpondasipongpoopopulerporsipospotonganprabupraktisprestasiprestopribadiprodukproduksiprofprosesprovinsiprpppseudoptpuasapudjipuisipukulpulapunpuncakpunyapupukpurapuripurwodinatanpurworejopusatputihputranyaputriqueendagraadraburacikanradenrafflesragaragamrahmanrajarajanganraksasaramairameranchranggawarsitarangkarapatrapirasarasanyaratusratusanrawarawitrayarealrebanarebungrecorecreationreferensiregulerrekorrekreasirelrelaksasireligiremahremajarempahrenangrenovasirenyahreogrepresentasireservasiresidenresmiresorresortrestaurantrestorestoranriburibuanricarindangritualritusrobustarodarombonganrongrosarotirowobonirprtruangrukunrumahruntuhrupiahrusarustamrutinrwsaatsabtusadranansajasakingsalahsalatigasalehsalibsalimsalingsaljusamsamasambalsambaransambilsambirejosampaisampingsanasanctuarysangsangatsanjayasantansantorinisantososaossapisapusarisatesatusatunyasatwasaussawahsayursayuransebagaisebelahsebelumsebelumnyaseberangsebligosebuahsebutansecangkirsecarasedapsedikitsegarsegarnyasegisehabisseharisehatsehinggasejaksejarahsejauhsejenissejuksejuknyasejumlahsekalisekaligussekarangsekilassekitarsekitarnyaselainselaluselamaselasaselatanseledriselengkapnyaselesaiselfieseloseluasseluncuransemangatsemarangsemarangzoosemasasemawissembarisembilansemilirsemirangsemuasemuanyasendirisenisenimanseninsenjatasensasisentraseolahseorangsepakungsepanjangsepedasepertsepertiserabiseranganserasiseratnyaserbaiseribuseringsertaseruseruanserundengserunyaserupaservicesesuaisetebalsetelahsetempatsetiabudisetiapsetinggisewushinsisiangsiapasidomuktisiesilahkansilakansimongansimpangsimpanglimasinsindorosingasingkongsingosinisisemutsistemsiwarakskibanskyslothsobatsoegiyopranotosongosopeardjosoresosialsouvenirsoyongspaspacespecialspesialspiegelspikoespiritualspoorwegspotsriguntingsriwijayastaminastasiunstopstrategisstroberisuasanasuasanyasubrotosubulussalamsucisudahsudarsosudutsuirsukasukorejosultansumatrasumbersumbingsumowonosumursunansungaisunrisesupenosupermarketsupranasupraptosususutomoswafotoswemmelaarswisssyekhtadinyatahutahuntajamtaktalitamantampaktanahtanamtanamantandemtangantanggatanggaltanjungtanpatantangantantulartapitaritariktautaugetawangtaytbrsteatertebingteknisiteknologiteksturnyatelahtelomoyotelptelurtemantempattempotempurtenangtengahtenggelamtennistentangtepattepatnyatepungterapiterasaterbaikterbakarterbalikterbangterbaruterbenamterbesarterbitterbuattercintaterdapatterdiriterdpataterjagaterjangkauterjunterkenalterlebihterlepasterletakterluasterminalternakterpasangtersayangtersebuttersediatersendiritersisatertariktertatatertentutertuaterutamatetaptetapiththethohatiaptidaktigatikettiketnyatimurtinggaltinggitingkattingkatantinjomoyotionghoationgkoktirtotlogotnitoentokotokohtoltoptopografitotaltourtouringtourismtrackingtradisitradisionaltrainingtransaksinyatransportasitreetrekkingtremtropistuatubuhtugutujuantujuhtulisantumbuhtumenggungtumpahtuntangturturkitusuktutupudahudangudaraudaranyaujungulamaulangumatumbulumumumumnyaungaranunikunremitingunsuruntukupacaraurabutamautanutaravalleyvanvarianvendorviewvilavillavirtualwadukwafatwahwahanawaktuwalkingwarisanwarnawarnaiwaroengwarungwaterwaterparkwatuwayangwebsitewebsitenyawedangwestmaaswibwijenwilayahwildewilhelminawilhelmuswillemwingkowisatawisatawanwonolopoworowuihyayaaayagyaituyakniyangyesusyosyoughurtyukyunaniziarahzipcoasterzonazoo'

In [38]:
df_dict

      Freq                                        Posting_ptr Terms_ptr
0        4                                    [29, 47, 44, 2]         0
1        2                                           [48, 46]         4
2        3                                       [30, 65, 30]         9
3       16  [14, 28, 70, 69, 68, 11, 36, 10, 63, 56, 35, 6...        14
4       20  [41, 33, 30, 38, 37, 35, 73, 57, 85, 15, 65, 8...        17
...    ...                                                ...       ...
1887     2                                           [49, 45]     12208
1888     1                                               [22]     12214
1889     1                                               [10]     12220
1890     1                                               [17]     12230
1891     3                                       [54, 54, 54]     12234

[1892 rows x 3 columns]

In [39]:
# Export to csv
df_dict.to_csv('compressed_index.csv',index=False)
# Export to txt
term_file = open("term_compress.txt", "w")
term_file.write(term_str)
term_file.close()

#Implementasi Penghitungan Skor

##Import Library

In [40]:
import pandas as pd
import numpy as np

##Membaca dataset

In [41]:
df = pd.read_csv('crawl_wisata.csv')
df.head()

,no,title,content,clean_content,url
0,1,Puri Kayana Camping Ground,kangen ngecamp nggak nih? Cuss berkemah denga...,kangen ngecamp nggak nih cuss berkemah dengan...,https://visitjawatengah.jatengprov.go.id/id/re...
1,2,Mengunjungi Wisata Religi Nyatnyono,Desa Nyatnyono di lereng Gunung Ungaran dikena...,desa nyatnyono di lereng gunung ungaran dikena...,https://visitjawatengah.jatengprov.go.id/id/re...
2,3,"Candi Dukuh, Petilasan Prabu Brawijaya","Candi Dukuh terletak di Desa Rowoboni, Kecamat...",candi dukuh terletak di desa rowoboni kecamata...,https://visitjawatengah.jatengprov.go.id/id/re...
3,4,5 Hal Spesial Di Desa Wisata Lerep,Jalan-jalan ke Semarang? Mampirlah ke Desa Wis...,jalan jalan ke semarang mampirlah ke desa wisa...,https://visitjawatengah.jatengprov.go.id/id/re...
4,5,All In One In Sunrise Hill Gedong Songo,lagi cari referensi resto? Penginapan? Spot s...,lagi cari referensi resto penginapan spot sel...,https://visitjawatengah.jatengprov.go.id/id/re...

In [42]:
data = df[['title', 'clean_content', 'url']]
data.head()

,title,clean_content,url
0,Puri Kayana Camping Ground,kangen ngecamp nggak nih cuss berkemah dengan...,https://visitjawatengah.jatengprov.go.id/id/re...
1,Mengunjungi Wisata Religi Nyatnyono,desa nyatnyono di lereng gunung ungaran dikena...,https://visitjawatengah.jatengprov.go.id/id/re...
2,"Candi Dukuh, Petilasan Prabu Brawijaya",candi dukuh terletak di desa rowoboni kecamata...,https://visitjawatengah.jatengprov.go.id/id/re...
3,5 Hal Spesial Di Desa Wisata Lerep,jalan jalan ke semarang mampirlah ke desa wisa...,https://visitjawatengah.jatengprov.go.id/id/re...
4,All In One In Sunrise Hill Gedong Songo,lagi cari referensi resto penginapan spot sel...,https://visitjawatengah.jatengprov.go.id/id/re...

Pencarian dilakukan berdasarkan kata yang ada pada judul dan isi artikel maka kita akan melakukan pembobotan pada judul dan isi konten, oleh karena itu kita gabungkan data judul dan isi masing-masing artikel

In [43]:
df['data']=df.apply(lambda x:'%s %s' % (x['title'],x['clean_content']),axis=1)
df['data'].head()

0    Puri Kayana Camping Ground   kangen ngecamp ng...
1    Mengunjungi Wisata Religi Nyatnyono  desa nyat...
2    Candi Dukuh, Petilasan Prabu Brawijaya  candi ...
3    5 Hal Spesial Di Desa Wisata Lerep  jalan jala...
4    All In One In Sunrise Hill Gedong Songo   lagi...
Name: data, dtype: object

**Menggunakan Library sklearn.feature_extraction.text** 
---
import CountVectorizer untuk menghitung banyaknya term tertentu pada setiap dokumen

In [44]:
# Activate CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

# Count Vectorizer
vect = CountVectorizer()  
vects = vect.fit_transform(df['data'])

td = pd.DataFrame(vects.toarray())
td.columns = vect.get_feature_names_out()
term_document_matrix = td.T
term_document_matrix.columns = ['Doc'+str(i+1) for i in range(td.shape[0])]

In [45]:
term_document_matrix.to_csv('term_document.csv')

In [46]:
term_document_matrix.head()

,Doc1,Doc2,Doc3,Doc4,Doc5,Doc6,Doc7,Doc8,Doc9,Doc10,...,Doc78,Doc79,Doc80,Doc81,Doc82,Doc83,Doc84,Doc85,Doc86,Doc87
abad,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abdul,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
acara,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ada,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
adalah,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,0,1,0

**Menggunakan Library sklearn.feature_extraction.text** 
---
import TfidfVectorizer untuk menghitung tf-idf setiap term pada setiap dokumen

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['data'])

In [48]:
df = pd.DataFrame(X.T.toarray(), index=vectorizer.get_feature_names())
df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
abad,0.0,0.0,0.08565,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
abdul,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
acara,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
ada,0.0,0.0,0.00000,0.0,0.100839,0.0,0.069815,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
adalah,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.050904,0.0,0.0,0.0,0.0,0.073033,0.065652,0.0,0.092143,0.0

In [49]:
df.to_csv('tfidf.csv')

In [50]:
tfidf = pd.DataFrame(X.T.todense(), index=vectorizer.get_feature_names(), columns=['Doc'+str(i+1) for i in range(td.shape[0])])
tfidf

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Doc1,Doc2,Doc3,Doc4,Doc5,Doc6,Doc7,Doc8,Doc9,Doc10,...,Doc78,Doc79,Doc80,Doc81,Doc82,Doc83,Doc84,Doc85,Doc86,Doc87
abad,0.0,0.0,0.08565,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
abdul,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
acara,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
ada,0.0,0.0,0.00000,0.0,0.100839,0.0,0.069815,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
adalah,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.050904,0.0,0.0,0.0,0.0,0.073033,0.065652,0.0,0.092143,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yunani,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
ziarah,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
zipcoaster,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
zona,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
zoo,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0

##Query Processing

In [51]:
import textwrap

In [52]:
wrapper = textwrap.TextWrapper(width=120)

In [53]:
def get_similar_articles(q, df):
  print("Berikut artikel dengan nilai cosine similarity tertinggi: ")
  q = [q] #query
  q_vec = vectorizer.transform(q).toarray().reshape(df.shape[0],)
  sim = {}
  for i in range(len(df.T)):
    sim[i] = np.dot(df.loc[:, i].values, q_vec) / np.linalg.norm(df.loc[:, i]) * np.linalg.norm(q_vec)
               
  
  sim_sorted = sorted(sim.items(), key=lambda x: x[1], reverse=True)
  i = 1
  for k, v in sim_sorted:
    if i<=10: #menampilkan 10 teratas hasil perankingan
      print(i,". ", data.title[k], "[", data.index[k], "]")
      print("Nilai Similaritas:", v)
      print(wrapper.fill(data.clean_content[k]))
      print(data.url[k])
      print()
    i+=1

In [54]:
query = ''

In [55]:

get_similar_articles(input('Masukkan kata pencarian :'+query), df)

Masukkan kata pencarian :kuliner makanan yang enak
Berikut artikel dengan nilai cosine similarity tertinggi:
1 .  Spot Kuliner Suasana Desa Di Kota Semarang?  [ 68 ]
Nilai Similaritas: 0.18794146676970533
datang aja ke di sukorejo gunung pati tempat makan dengan bangunan dan meja dari bambu dan kayu aneka kuliner
tradisional ada di sini transaksinya menggunakan kepeng kepeng rp harga makanan minuman antara kepeng oh ya kampung jawi
buka setiap hari mulai pukul sore ya
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/kuliner/spot-kuliner-suasana-desa-di-kota-semarang

2 .  Gemblong Cothot  [ 70 ]
Nilai Similaritas: 0.1581467668010717
gemblong cothot hayooo siapa yang baru pertama kali dengar nama gemblog cothot kudapan ini terbuat dari singkong ada
gula pasir lumer di dalamnya makanan khas bandungan kabupaten semarang ini sangat enak dimakan saat masih panas sekali
gigit gula akan meleleh di mulut
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/kuliner/gemblong-cothot

3 .  Kawasan Simpang Lima  [ 63 ]
Nilai Similaritas: 0.11274058318850479
kawasan simpang lima merupakan sentra perdagangan dan kuliner di kota semarang di sini anda dapat menjumpai toko oleh
oleh yang menjual jajanan khas semarang seperti spikoe lapis legit dan tahu bakso pada malam hari anda dapat mencicipi
beragam kuliner tradisional seperti nasi pecel tahu petis nasi ayam tahu gimbal dll di malam hari anda juga dapat
menaiki kereta gowes hias mengelilingi lapangan pancasila ada pula sepeda tandem hias yang dapat digowes dua orang
sekaligus
https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/kawasan-simpang-lima

4 .  5 Hal Spesial Di Desa Wisata Lerep  [ 3 ]
Nilai Similaritas: 0.11204571320984216
jalan jalan ke semarang mampirlah ke desa wisata lerep di ungaran barat kabupaten semarang apa saja yang spesial di sini
kesatu serunya edu eco tour membuat permen susu atau membuat keripik kedua relaksasi pikiran di air terjun indrokilo
ketiga berfoto di embung sebligo keempat jelajah watu gunung bersama keluarga kelima icip icip kuliner tempo dulu di
pasar kuliner setiap minggu pon yuk follow untuk info wisata menarik lainnya di kab semarang
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/5-hal-spesial-di-desa-wisata-lerep

5 .  Curug Kembar Bolodewo  [ 37 ]
Nilai Similaritas: 0.08974774679129698
curug atau air terjun bolodewo adalah dua curug yang saling berdekatan sehingga dikatakan kembar dan kata bolodewo
berasal dari tokoh pewayangan baladewa sehingga dinamakan curug kembar bolodewo di sekitar daerah ini dapat ditemukan
makanan tradisional khas desa ini yaitu montor mabur makanan ini terbuat dari singkong dicampur dengan gula aren foto
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/curug-kembar-bolodewo

6 .  Tahu Petis  [ 86 ]
Nilai Similaritas: 0.07894514230174793
tahu petis makanan khas kota semarang terbuat dari tahu pong yang digoreng kering dan renyah yag diisi dengan petis
udang yang telah diracik dengan bumbu special sehingga beraroma harum gurih dan manis
https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/kuliner/tahu-petis

7 .  Pecel Mbok Kami  [ 73 ]
Nilai Similaritas: 0.0741320552094312
pecel adalah makanan tradisional jawa terdiri dari berbagai macam sayuran mie goreng dan saus kacang disajikan dengan
nasi salah satu yang terkenal di ambarawa ialah pecel mbok kami yang terletak tepat di depan terminal ambarawa sumber
foto
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/kuliner/pecel-mbok-kami

8 .  Tahu Serasi  [ 76 ]
Nilai Similaritas: 0.06883055187316937
tahu serasi merupakan tahu khas dari daerah bandungan ambarawa daerah ini dikenal sebagai sentra produksi tahu tahu
serasi berwarna putih dan padat dengan rasa enak dan gurih sebelum dinikmati tahu serasi digoreng terlebih dahulu satu
bungkus tahu serasi dibandrol dengan harga yang sangat terjangkau tahu serasi dapat di beli di kawasan wisata bandungan
dan beberapa supermarket modern di semarang dan sekitarnya sumber foto
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/kuliner/tahu-serasi

9 .  Pantai Marina  [ 61 ]
Nilai Similaritas: 0.06491645447850249
pantai marina berada di jalan yos sudarso sekitar km dari tugu muda akses menuju ke pantai ini sangat mudah beberapa
aktivitas yang dapat anda lakukan di sana ialah memancing menyewa perahu untuk berkeliling dan mencicipi ragam kuliner
pantai marina cocok sebagai tujuan rekreasi bersama keluarga terutama anak anak
https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/pantai-marina

10 .  Desa Wisata Wonolopo  [ 43 ]
Nilai Similaritas: 0.0620425174967968
ingin liburan yang tidak biasa silakan berkunjung ke desa wisata wonolopo di kota semarang desa ini dikenal sebagai desa
jamu karena pengunjung dapat menjajal untuk membuat jamu paket wisata lainnya yang ditawarkan oleh pengelola antara lain
menanam padi menanam buah buahan berkeliling desa dengan sepeda onthel pembuatan sapu ijuk dan lain lain pengunjung juga
dapat mencicipi kuliner tradisional seperti gendar pecel ketan serundeng dan nasi urab ndeso komplit sekali bukan untuk
informasi dan reservasi selengkapnya dapat menghubungi atau klik
https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/desa-wisata-wonolopo

# **Evaluasi hasil query**

menggungakan Kappa Measure

In [56]:
from sklearn.metrics import cohen_kappa_score


# query 1 : wisata religi yang perlu dikunjungi
# query 1 : pemandangan alam pegunungan
# query 1 : kuliner makanan yang ada di semarang
# query 1 : air terjun yang sejuk dan alami
# query 1 : rekreasi dan edukasi

# mendefinisikan array dari penilaian dua juri
rater1 = [0,1,1,1,1]
rater2 = [0,1,0,1,1]

#penghitungan kappa
cohen_kappa_score(rater1, rater2)

0.5454545454545454

![image.png]()

Dari Hasil yang didapat dapat dikatakan **Moderate agreement atau Cukup**