<a href="https://colab.research.google.com/github/lenocahya/ir_wisata_semarang/blob/main/tfidf_ranking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Implementasi Penghitungan Skor

##Import Library

In [ ]:
import pandas as pd
import numpy as np

##Membaca dataset yang telah ada pada github

In [ ]:
url = 'https://raw.githubusercontent.com/lenocahya/ir_wisata_semarang/main/crawl_wisata.csv'
df = pd.read_csv(url)
df.head()

,no,title,content,clean_content,url
0,1,puri kayana camping ground,b'#SobatWisata\xc2\xa0kangen ngecamp nggak nih...,sobatwisata kangen ngecamp nggak nih cuss ber...,https://visitjawatengah.jatengprov.go.id/id/re...
1,2,mengunjungi wisata religi nyatnyono,b'Desa Nyatnyono di lereng Gunung Ungaran dike...,desa nyatnyono di lereng gunung ungaran dikena...,https://visitjawatengah.jatengprov.go.id/id/re...
2,3,candi dukuh petilasan prabu brawijaya,"b'Candi Dukuh terletak di Desa Rowoboni, Kecam...",candi dukuh terletak di desa rowoboni kecamata...,https://visitjawatengah.jatengprov.go.id/id/re...
3,4,hal spesial di desa wisata lerep,b'Jalan-jalan ke Semarang? Mampirlah ke Desa W...,jalan jalan ke semarang mampirlah ke desa wisa...,https://visitjawatengah.jatengprov.go.id/id/re...
4,5,all in one in sunrise hill gedong songo,b'#SobatWisata\xc2\xa0lagi cari referensi rest...,sobatwisata lagi cari referensi resto pengina...,https://visitjawatengah.jatengprov.go.id/id/re...

In [ ]:
data = df[['title', 'clean_content', 'url']]
data.head()

,title,clean_content,url
0,puri kayana camping ground,sobatwisata kangen ngecamp nggak nih cuss ber...,https://visitjawatengah.jatengprov.go.id/id/re...
1,mengunjungi wisata religi nyatnyono,desa nyatnyono di lereng gunung ungaran dikena...,https://visitjawatengah.jatengprov.go.id/id/re...
2,candi dukuh petilasan prabu brawijaya,candi dukuh terletak di desa rowoboni kecamata...,https://visitjawatengah.jatengprov.go.id/id/re...
3,hal spesial di desa wisata lerep,jalan jalan ke semarang mampirlah ke desa wisa...,https://visitjawatengah.jatengprov.go.id/id/re...
4,all in one in sunrise hill gedong songo,sobatwisata lagi cari referensi resto pengina...,https://visitjawatengah.jatengprov.go.id/id/re...

Pencarian dilakukan berdasarkan kata yang ada pada judul dan isi artikel maka kita akan melakukan pembobotan pada judul dan isi konten, oleh karena itu kita gabungkan data judul dan isi masing-masing artikel

In [ ]:
df['data']=df.apply(lambda x:'%s %s' % (x['title'],x['clean_content']),axis=1)
df['data'].head()

0    puri kayana camping ground   sobatwisata kange...
1    mengunjungi wisata religi nyatnyono  desa nyat...
2    candi dukuh  petilasan prabu brawijaya  candi ...
3     hal spesial di desa wisata lerep  jalan jalan...
4    all in one in sunrise hill gedong songo   soba...
Name: data, dtype: object

**Menggunakan Library sklearn.feature_extraction.text** 
---
import CountVectorizer untuk menghitung banyaknya term tertentu pada setiap dokumen

In [ ]:
# Activate CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

# Count Vectorizer
vect = CountVectorizer()  
vects = vect.fit_transform(df['data'])

td = pd.DataFrame(vects.toarray())
td.columns = vect.get_feature_names_out()
term_document_matrix = td.T
term_document_matrix.columns = ['Doc'+str(i+1) for i in range(td.shape[0])]

In [ ]:
term_document_matrix.to_csv('term_document.csv')

In [ ]:
term_document_matrix.head()

,Doc1,Doc2,Doc3,Doc4,Doc5,Doc6,Doc7,Doc8,Doc9,Doc10,...,Doc29,Doc30,Doc31,Doc32,Doc33,Doc34,Doc35,Doc36,Doc37,Doc38
abad,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
acara,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
ada,0,0,0,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,2,1,0
adalah,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
adrenalin,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

**Menggunakan Library sklearn.feature_extraction.text** 
---
import TfidfVectorizer untuk menghitung tf-idf setiap term pada setiap dokumen

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['data'])

In [ ]:
df = pd.DataFrame(X.T.toarray(), index=vectorizer.get_feature_names())
df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
abad,0.0,0.0,0.08984,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.095965,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
acara,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.195971,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
ada,0.0,0.0,0.00000,0.0,0.105003,0.0,0.073156,0.0,0.0,0.000000,...,0.06503,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.151914,0.051708,0.000000
adalah,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.063773,0.0,0.0,0.085384,0.0,0.079585,0.000000,0.082657
adrenalin,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.121961,...,0.00000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000

In [ ]:
df.to_csv('tfidf.csv')

In [ ]:
tfidf = pd.DataFrame(X.T.todense(), index=vectorizer.get_feature_names(), columns=['Doc'+str(i+1) for i in range(td.shape[0])])
tfidf

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Doc1,Doc2,Doc3,Doc4,Doc5,Doc6,Doc7,Doc8,Doc9,Doc10,...,Doc29,Doc30,Doc31,Doc32,Doc33,Doc34,Doc35,Doc36,Doc37,Doc38
abad,0.000000,0.0,0.08984,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.095965,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
acara,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.195971,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
ada,0.000000,0.0,0.00000,0.000000,0.105003,0.0,0.073156,0.0,0.0,0.000000,...,0.06503,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.151914,0.051708,0.000000
adalah,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.063773,0.0,0.0,0.085384,0.0,0.079585,0.000000,0.082657
adrenalin,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.121961,...,0.00000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
youghurt,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.083241,0.000000
yuk,0.162982,0.0,0.00000,0.101389,0.000000,0.0,0.097210,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
ziarah,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
zipcoaster,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
zona,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000

##Query Processing

In [ ]:
import textwrap

In [ ]:
wrapper = textwrap.TextWrapper(width=120)

In [ ]:
def get_similar_articles(q, df):
  print("Berikut artikel dengan nilai cosine similarity tertinggi: ")
  q = [q] #query
  q_vec = vectorizer.transform(q).toarray().reshape(df.shape[0],)
  sim = {}
  for i in range(38):
    sim[i] = np.dot(df.loc[:, i].values, q_vec) / np.linalg.norm(df.loc[:, i]) * np.linalg.norm(q_vec)
               
  
  sim_sorted = sorted(sim.items(), key=lambda x: x[1], reverse=True)
  i = 1
  for k, v in sim_sorted:
    if i<=10: #menampilkan 10 teratas hasil perankingan
      print(i,". ", data.title[k])
      print("Nilai Similaritas:", v)
      print(wrapper.fill(data.clean_content[k]))
      print(data.url[k])
      print()
    i+=1

In [ ]:
query = ''

In [ ]:
get_similar_articles(input('Masukkan kata pencarian :'+query), df)

Masukkan kata pencarian :wisata religi
Berikut artikel dengan nilai cosine similarity tertinggi:
1 .  mengunjungi wisata religi nyatnyono
Nilai Similaritas: 0.30914814161743215
desa nyatnyono di lereng gunung ungaran dikenal sebagai desa wisata berbasis religi di sini terdapat masjid subulussalam
peninggalan syekh hasan munadi tokoh penyiar agama islam yang hidup pada masa awal berdirinya kesultanan demak bintoro
beliau berdakwah bersama putranya syekh hasan dipuro hingga wafat kini makamnya selalu ramai peziarah dari berbagai
daerah buruan follow untuk info terbaru wisata di kab semarang
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/mengunjungi-wisata-religi-nyatnyono

2 .  desa wisata lerep
Nilai Similaritas: 0.05984617354241324
desa wisata lerep memiliki atraksi wisata edu ecotour antara lain bercocok tanam beternak pemanfaatan bahan limbah
pengolahan susu sapi kopi dan gula aren kerajinan bambu terdapat wisata alam yaitu air terjun curug indrokilo sunrise
puncak ngipik bentang sawah yang indah serta sungai pangus yang jernih penuh bebatuan alami anda juga dapat menyaksikan
beragam atraksi wisata budaya seperti tradisi sadranan iriban kadeso dan gepuk bumbung beberapa kesenian yang juga dapat
dijumpai di desa ini ialah tari caping gangsing tari gambyong tari soyong tari denok semarang kesenian jaran kepang reog
angklung drumblek dan rebana anda yang ingin mencicipi aneka makanan dan minuman tradisional desa silakan datang ke
pasar jajanan ndeso tempo dulu yang hadir setiap minggu pagi untuk informasi dan reservasi pokdarwis rukun santoso dusun
lerep rt desa lerep telp website   desawisatalerep instagram     instagram desawisatalerep
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/desa-wisata-lerep

3 .   hal spesial di desa wisata lerep
Nilai Similaritas: 0.050939881912936906
jalan jalan ke semarang mampirlah ke desa wisata lerep di ungaran barat kabupaten semarang apa saja yang spesial di sini
kesatu serunya edu eco tour membuat permen susu atau membuat keripik kedua relaksasi pikiran di air terjun indrokilo
ketiga berfoto di embung sebligo keempat jelajah watu gunung bersama keluarga kelima icip icip kuliner tempo dulu di
pasar kuliner setiap minggu pon yuk follow untuk info wisata menarik lainnya di kab semarang wisatasemarang
explorejateng dolanjateng   jatenggayeng dijatengaja travelgram travel pesonaindonedia
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/5-hal-spesial-di-desa-wisata-lerep

4 .  saloka  theme park terbesar di jawa tengah
Nilai Similaritas: 0.04504457496728686
curug kaliurip ikon wisata baru di purworejo cari yang segar taman wisata curug kaliurip di desa kaliurip kecamatan
kemiri purworejo bisa jadi pilihan curug kaliurip menawarkan wisata air terjun dengan ketinggian m dan kedalaman air
sekitar meter hanya dengan lima ribu rupiah per orang sobat bisa merasakan segarnya air terjun lapar sehabis bermain air
tersedia juga kuliner khas purworejo dengan harga terjangkau untuk saat ini akses hanya bisa dilalui dengan kendaraan
bermotor roda dua nanti ajak teman kamu untuk touring ke sini ya
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/saloka-theme-park-terbesar-di-jawa-tengah

5 .  curug semirang
Nilai Similaritas: 0.04222841933355616
air terjun semirang terletak di desa gogik lereng gunung ungaran dengan pemandangan yang menarik kearah kota ungaran
topografi sekitar kawasan wisata cocok untuk area tracking sepeda gunung dan olah raga gunung lainnya selama perjalanan
pengunjung diajak menikmati suasana perkebunan pala dan kopi di kanan kirinya wisata ini cocok bagi anda yang suka
tracking dengan pemandangan alam sekitar yang indah
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/curug-semirang

6 .  palagan ambarawa
Nilai Similaritas: 0.030905702101457516
palagan ambarawa merupakan sebuah monumen sejarah bangsa indonesia yang terletak di pinggir jalan raya ambarawa magelang
tepatnya di tengah kota ambarawa lebih kurang km dari kota semarang dilengkapi dengan museum bernama museum isdiman yang
menyimpan berbagai koleksi senjata kendaraan tempur pakaian dan barang lain yang dipergunakan dalam pertempuran ambarawa
dengan bentuk bangunan joglo sesuai arsitektur budaya jawa tengah museum isdiman menjadi objek wisata yang menyediakan
wisata edukasi wisatawan dapat memahami sejarah sambil mengenang jasa para pahlawan yang telah berjuang mempertahankan
negara tercinta ini
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/palagan-ambarawa

7 .  pemandian muncul
Nilai Similaritas: 0.027090122969498167
pemandian muncul adalah pemandian alam dari sumber air alami yang terletak di jalan alternatif ambarawa sampai salatiga
di desa rowoboni kecamatan banyu biru berjarak kurang lebih km dari kota semarang kawasan pemandian alam muncul ini
disamping dimanfaatkan sebagai objek wisata air juga menyediakan area pembibitan dan pemancingan ikan dengan panorama
hamparan sawah dan sungai yang indah di pemandian alam muncul secara rutin diadakan acara budaya berupa ritual padusan
yang dilaksanakan satu tahun sekali menjelang bulan puasa acara ritual padusan tersebut sangat menarik para wisatawan
yang berkunjung ke tempat wisata tersebut
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/pemandian-muncul

8 .  kampoeng kopi banaran
Nilai Similaritas: 0.026513095527770262
kampoeng kopi banaran adalah one stop tourism and education service yang berpusat di jl raya semarang bawen km bawen
semarang kampoeng kopi banaran memiliki beberapa fasilitas antara lain convention hall indoor dan outdoor event space
meeting package agro tourism restaurant resort hotel coffee spa outbond kolam renang tennis court dan taman bermain anak
pengunjung juga dapat mengikuti wisata edukasi karet kakao dan wisata penanaman pengolahan pengemasan hingga menjadi
secangkir kopi banaran yang istimewa kunjungi website kampoeng kopi banaran     kampoengkopibanaran co id
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/kampoeng-kopi-banaran

9 .  umbul sidomukti
Nilai Similaritas: 0.025796952990980986
umbul sidomukti merupakan tempat wisata yang terletak di desa sidomukti bandungan kabupaten semarang berkonsep real
recreation education advanture and leisure umbul sidomukti menawarkan wisata kolam renang alami dan wahana outdoor seru
seperti atv paralayang flying fox marine brigde little ranch dan masih banyak lainnya terletak di ketinggian mpdl
pengunjung akan disuguhkan pemandangan kabupaten semarang dari ketinggian selain itu letaknya yang berada di dataran
tinggi membuat udara sekitar umbul sidomukti cenderung dingin dilengkapi dengan kafe dan penginapan menjadikan umbul
sidomukti bagai paket komplit yang patut dikunjungi untuk menghabiskan akhir pekan untuk informasi selengkapnya silahkan
kunjungi  s   umbulsidomukti
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/umbul-sidomukti

10 .  all in one in sunrise hill gedong songo
Nilai Similaritas: 0.0233671861548728
 sobatwisata lagi cari referensi resto penginapan spot selfie buat apa cari banyak tempat kalau bisa datang ke tempat
aja dan udah dapat semuanya emang ada gedong songo jawabannya follow untuk info wisata menarik lainnya wisatasemarang
explorejateng   jatenggayeng dijatengaja
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/all-in-one-in-sunrise-hill-gedong-songo