<a href="https://colab.research.google.com/github/lenocahya/ir_wisata_semarang/blob/main/tfidf_ranking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Implementasi Penghitungan Skor

##Import Library

In [1]:
import pandas as pd
import numpy as np

##Membaca dataset yang telah ada pada github

In [2]:
url = 'https://raw.githubusercontent.com/lenocahya/ir_wisata_semarang/main/crawl_wisata.csv'
df = pd.read_csv(url)
df

,no,title,content,clean_content,url
0,1,Puri Kayana Camping Ground,kangen ngecamp nggak nih? Cuss berkemah denga...,kangen ngecamp nggak nih cuss berkemah dengan...,https://visitjawatengah.jatengprov.go.id/id/re...
1,2,Mengunjungi Wisata Religi Nyatnyono,Desa Nyatnyono di lereng Gunung Ungaran dikena...,desa nyatnyono di lereng gunung ungaran dikena...,https://visitjawatengah.jatengprov.go.id/id/re...
2,3,"Candi Dukuh, Petilasan Prabu Brawijaya","Candi Dukuh terletak di Desa Rowoboni, Kecamat...",candi dukuh terletak di desa rowoboni kecamata...,https://visitjawatengah.jatengprov.go.id/id/re...
3,4,5 Hal Spesial Di Desa Wisata Lerep,Jalan-jalan ke Semarang? Mampirlah ke Desa Wis...,jalan jalan ke semarang mampirlah ke desa wisa...,https://visitjawatengah.jatengprov.go.id/id/re...
4,5,All In One In Sunrise Hill Gedong Songo,lagi cari referensi resto? Penginapan? Spot s...,lagi cari referensi resto penginapan spot sel...,https://visitjawatengah.jatengprov.go.id/id/re...

In [3]:
data = df[['title', 'clean_content', 'url']]
data.head()

,title,clean_content,url
0,Puri Kayana Camping Ground,kangen ngecamp nggak nih cuss berkemah dengan...,https://visitjawatengah.jatengprov.go.id/id/re...
1,Mengunjungi Wisata Religi Nyatnyono,desa nyatnyono di lereng gunung ungaran dikena...,https://visitjawatengah.jatengprov.go.id/id/re...
2,"Candi Dukuh, Petilasan Prabu Brawijaya",candi dukuh terletak di desa rowoboni kecamata...,https://visitjawatengah.jatengprov.go.id/id/re...
3,5 Hal Spesial Di Desa Wisata Lerep,jalan jalan ke semarang mampirlah ke desa wisa...,https://visitjawatengah.jatengprov.go.id/id/re...
4,All In One In Sunrise Hill Gedong Songo,lagi cari referensi resto penginapan spot sel...,https://visitjawatengah.jatengprov.go.id/id/re...

Pencarian dilakukan berdasarkan kata yang ada pada judul dan isi artikel maka kita akan melakukan pembobotan pada judul dan isi konten, oleh karena itu kita gabungkan data judul dan isi masing-masing artikel

In [4]:
df['data']=df.apply(lambda x:'%s %s' % (x['title'],x['clean_content']),axis=1)
df['data'].head()

0    Puri Kayana Camping Ground   kangen ngecamp ng...
1    Mengunjungi Wisata Religi Nyatnyono  desa nyat...
2    Candi Dukuh, Petilasan Prabu Brawijaya  candi ...
3    5 Hal Spesial Di Desa Wisata Lerep  jalan jala...
4    All In One In Sunrise Hill Gedong Songo   lagi...
Name: data, dtype: object

**Menggunakan Library sklearn.feature_extraction.text** 
---
import CountVectorizer untuk menghitung banyaknya term tertentu pada setiap dokumen

In [5]:
# Activate CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

# Count Vectorizer
vect = CountVectorizer()  
vects = vect.fit_transform(df['data'])

td = pd.DataFrame(vects.toarray())
td.columns = vect.get_feature_names_out()
term_document_matrix = td.T
term_document_matrix.columns = ['Doc'+str(i+1) for i in range(td.shape[0])]

In [6]:
term_document_matrix.to_csv('term_document.csv')

In [7]:
term_document_matrix.head()

,Doc1,Doc2,Doc3,Doc4,Doc5,Doc6,Doc7,Doc8,Doc9,Doc10,...,Doc78,Doc79,Doc80,Doc81,Doc82,Doc83,Doc84,Doc85,Doc86,Doc87
abad,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abdul,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
acara,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ada,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
adalah,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,0,1,0

**Menggunakan Library sklearn.feature_extraction.text** 
---
import TfidfVectorizer untuk menghitung tf-idf setiap term pada setiap dokumen

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['data'])

In [9]:
df = pd.DataFrame(X.T.toarray(), index=vectorizer.get_feature_names())
df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
abad,0.0,0.0,0.08565,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
abdul,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
acara,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
ada,0.0,0.0,0.00000,0.0,0.100839,0.0,0.069815,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
adalah,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.050904,0.0,0.0,0.0,0.0,0.073033,0.065652,0.0,0.092143,0.0

In [10]:
df.to_csv('tfidf.csv')

In [11]:
tfidf = pd.DataFrame(X.T.todense(), index=vectorizer.get_feature_names(), columns=['Doc'+str(i+1) for i in range(td.shape[0])])
tfidf

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Doc1,Doc2,Doc3,Doc4,Doc5,Doc6,Doc7,Doc8,Doc9,Doc10,...,Doc78,Doc79,Doc80,Doc81,Doc82,Doc83,Doc84,Doc85,Doc86,Doc87
abad,0.0,0.0,0.08565,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
abdul,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
acara,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
ada,0.0,0.0,0.00000,0.0,0.100839,0.0,0.069815,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
adalah,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.050904,0.0,0.0,0.0,0.0,0.073033,0.065652,0.0,0.092143,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yunani,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
ziarah,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
zipcoaster,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
zona,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0
zoo,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0

##Query Processing

In [12]:
import textwrap

In [13]:
wrapper = textwrap.TextWrapper(width=120)

In [19]:
def get_similar_articles(q, df):
  print("Berikut artikel dengan nilai cosine similarity tertinggi: ")
  q = [q] #query
  q_vec = vectorizer.transform(q).toarray().reshape(df.shape[0],)
  sim = {}
  for i in range(len(df.T)):
    sim[i] = np.dot(df.loc[:, i].values, q_vec) / np.linalg.norm(df.loc[:, i]) * np.linalg.norm(q_vec)
               
  
  sim_sorted = sorted(sim.items(), key=lambda x: x[1], reverse=True)
  i = 1
  for k, v in sim_sorted:
    if i<=10: #menampilkan 10 teratas hasil perankingan
      print(i,". ", data.title[k], "[", data.index[k], "]")
      print("Nilai Similaritas:", v)
      print(wrapper.fill(data.clean_content[k]))
      print(data.url[k])
      print()
    i+=1

In [15]:
query = ''

In [20]:
get_similar_articles(input('Masukkan kata pencarian :'+query), df)

Masukkan kata pencarian :rekreasi dan edukasi
Berikut artikel dengan nilai cosine similarity tertinggi:
1 .  Semarang Zoo  [ 54 ]
Nilai Similaritas: 0.18782850315082406
taman satwa semarang atau semarang zoo terletak di sebelah timur kota semarang tepatnya depan terminal mangkang semarang
zoo merupakan tempat konservasi satwa yang memadukan konsep edukasi dengan konsep rekreasi dimana pengunjung bisa
mendapatkan pengetahuan yang lebih luas mengenai kekayaan flora dan fauna beberapa satwa yang ada di sini antara lain
harimau benggala gajah sumatra kanguru orang utan rusa dan lain lain fasilitas lain yang tersedia di kawasan ini ialah
water boom untuk anak anak museum pesawat terbang kolam pasir putih kolam batu terapi dan kedai makanan yang sehat dan
murah semarang zoo sangat cocok untuk wisata edukasi dan wisata keluarga silakan kunjungi instagram resmi di instagram
com semarangzoo official
https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/semarang-zoo

2 .  Cimory On The Valley  [ 36 ]
Nilai Similaritas: 0.1268136617690202
terletak jam dari pusat kota semarang cimory on the valley menyajikan wisata rekreasi dan edukasi yang menarik bagi anak
anak dan keluarga pengunjung dapat menikmati hijaunya perkebunan dan melihat proses pengolahan susu yang ada di
peternakan bagi penggemar cokelat terdapat juga corner khusus bernama chocomory dimana disana pengunjung dapat membeli
berbagai produk olahan cokelat seperti permen cokelat minuman cokelat kacang cokelat dan banyak lagi untuk masuk ke
cimory on the valley ini pengunjung dikenakan biaya rp per orang yang tiketnya dapat ditukar dengan youghurt di area
farm tempat ini buka setiap hari mulai pukul hingga foto
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/cimory-on-the-valley

3 .  Taman Lele  [ 60 ]
Nilai Similaritas: 0.08690238469498476
kampung wisata taman lele merupakan salah satu tujuan rekreasi keluarga di kota semarang yang dilengkapi dengan beragam
fasilitas antara lain kolam keceh becak air dan gazebo taman lele juga menyediakan fasilitas penginapan dengan harga
terjangkau berjarak sekitar menit dari pusat kota semarang taman lele dapat menjadi destinasi seru untuk menghabiskan
akhir pekan bersama keluarga
https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/taman-lele

4 .  Pantai Marina  [ 61 ]
Nilai Similaritas: 0.08591528164553357
pantai marina berada di jalan yos sudarso sekitar km dari tugu muda akses menuju ke pantai ini sangat mudah beberapa
aktivitas yang dapat anda lakukan di sana ialah memancing menyewa perahu untuk berkeliling dan mencicipi ragam kuliner
pantai marina cocok sebagai tujuan rekreasi bersama keluarga terutama anak anak
https://visitjawatengah.jatengprov.go.id/id/regency/kota-semarang/destinasi-wisata/pantai-marina

5 .  Khatulistiwa Garden  [ 7 ]
Nilai Similaritas: 0.08513442322329574
petik stroberi on the spot cobain deh petik stroberi langsung dari kebun garden bersama orang tersayang ga cuma foto
bisa sekaligus wisata edukasi sambil menikmati udara segar di bandungan stroberi merah segar panorama hijau indah asli
bakal bikin kamu betah agendakan ya
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/khatulistiwa-garden

6 .  Palagan Ambarawa  [ 26 ]
Nilai Similaritas: 0.0715740956249115
palagan ambarawa merupakan sebuah monumen sejarah bangsa indonesia yang terletak di pinggir jalan raya ambarawa magelang
tepatnya di tengah kota ambarawa lebih kurang km dari kota semarang dilengkapi dengan museum bernama museum isdiman yang
menyimpan berbagai koleksi senjata kendaraan tempur pakaian dan barang lain yang dipergunakan dalam pertempuran ambarawa
dengan bentuk bangunan joglo sesuai arsitektur budaya jawa tengah museum isdiman menjadi objek wisata yang menyediakan
wisata edukasi wisatawan dapat memahami sejarah sambil mengenang jasa para pahlawan yang telah berjuang mempertahankan
negara tercinta ini
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/palagan-ambarawa

7 .  Museum Kereta Api Ambarawa  [ 20 ]
Nilai Similaritas: 0.06980758548442184
museum kereta api ambarawa terletak di pusat kota ambarawa dekat jalan utama semarang jogja sekitar kilometer dari kota
ungaran museum ka ambarawa merupakan satu satunya museum yang memamerkan teknologi kereta kuno dan warisan kolonial
belanda museum ini menawarkan paket rekreasi yang dapat membawa pengunjung di sekitar desa dengan kereta api kuno sambil
menikmati gugusan pegunungan dan rawa pening bangunan ini pertamakali dibangun atas instruksi raja willem untuk
memudahkan sistem transportasi militer pada tahun sopeardjo rustam gubernur jawa tengah mengubah fungsi stasiun sebagai
museum
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/museum-kereta-api-ambarawa

8 .  Kampoeng Kopi Banaran  [ 18 ]
Nilai Similaritas: 0.0675716798579179
kampoeng kopi banaran adalah one stop tourism and education service yang berpusat di jl raya semarang bawen km bawen
semarang kampoeng kopi banaran memiliki beberapa fasilitas antara lain convention hall indoor dan outdoor event space
meeting package agro tourism restaurant resort hotel coffee spa outbond kolam renang tennis court dan taman bermain anak
pengunjung juga dapat mengikuti wisata edukasi karet kakao dan wisata penanaman pengolahan pengemasan hingga menjadi
secangkir kopi banaran yang istimewa kunjungi website kampoeng kopi banaran
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/kampoeng-kopi-banaran

9 .  Balemong Resort  [ 35 ]
Nilai Similaritas: 0.03553099849262844
balemong adalah sebuah resor dengan arsitektur khas jawa dan eropa yang terletak di jl patimura sisemut ungaran balemong
menawarkan suasana pedesaan dan pemandangan gunung ungaran yang indah selain arsitekstunya yang kental restoran yang ada
didalamnya pun menyajikan masakan khas jawa dan eropa yang akan memanjakan lidah pengunjung ada pula galeri barang antik
yang dapat dibeli pengunjung ruang rapat kafe dan spa untuk informasi dan reservasi hubungi untuk informasi lebih lanjut
silahkan kunjungi
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/balemong-resort

10 .  Kopeng Waterpark  [ 24 ]
Nilai Similaritas: 0.03281305500983209
kopeng waterpark terletak diantara kota salatiga dan magelang di bawah kaki gunung merbabu kopeng waterpark memiliki
berbagai fasilitas seperti wahana permainan air dan anak dengan luas lebih dari ha resort keluarga restoran keluarga fun
billiard gedung pertemuan outbound center atv paintball karaoke gathering area dan kuda wisata kopeng waterpark juga
memiliki pasar buah dan sayuran segar pusat souvenir dan kaos yang sangat cocok sebagai oleh oleh untuk info lebih
lanjut silahkan kunjungi websitenya
https://visitjawatengah.jatengprov.go.id/id/regency/kabupaten-semarang/destinasi-wisata/kopeng-waterpark